<a href="https://colab.research.google.com/github/lareynolds/QB-EDA/blob/main/qb_eda_project_google.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Starting to use notebooks
I haven't used a Jupyter Notebook to code in a very long time. I usually use the Spyder IDE as I can see all my variables' values at the same time. The first step is to import the differnt libraries that I think I'll need.

In [ ]:
import pandas as pd
import openpyxl

Next I will import the data sets.

In [ ]:
qbs = pd.read_excel('https://myordinaryjourney.com/wp-content/uploads/2023/09/QB_Table-1.xlsx', engine='openpyxl')
qbs_oc = pd.read_excel('https://myordinaryjourney.com/wp-content/uploads/2023/09/QB_Table-2.xlsx', engine='openpyxl')

Make sure to verfy the data has been loaded by viewing a few rows from each dataframe. If you are wondering what the '\n' mmeans, it is the regular expression for a new line. It creates some extra space between the table headings and the table data to make them more readable. Dataquest has a great quick guide and cheat sheet available [here](https://www.dataquest.io/blog/regex-cheatsheet/).

In [ ]:
print('Quarterback Stats table:\n', qbs.head(), '\n')
print('Quarterback of Color table:\n', qbs_oc.head())

Quarterback Stats table:
       Player  Total  2009  2010  2011  2012  2013  2014  2015  2016  ...  \
0   A.Dalton     25     0     0     4     1     1     5     0     1  ...
1     A.Luck     17     0     0     0     5     3     4     1     1  ...
2  A.Rodgers     41     3     3     3     5     2     2     5     4  ...
3    A.Smith     23     1     1     1     1     1     6     4     1  ...
4  B.Bortles     12     0     0     0     0     0     1     2     1  ...

   2022  2023  Games  Per Game  Attempts  Per 100 Att  Sacked  Per Sack  \
0     2     0    170      0.15      5557         0.45     361     0.069
1     0     0     94      0.18      3620         0.47     186     0.091
2     3     0    228      0.18      7840         0.52     542     0.076
3     0     0    149      0.15      4648         0.49     367     0.063
4     0     0     79      0.15      2719         0.44     201     0.060

   Sack Per Att  Third Down %
0         0.065         40.00
1         0.051         29.41
2         0.069         39.02
3         0.079         26.09
4         0.074         33.33

[5 rows x 25 columns]

Quarterback of Color table:
          Quarterback    short_name Years active  \
0      Fritz Pollard     F.Pollard    1920–1926
1        Joe Lillard     J.Lillard    1932–1933
2  George Taliaferro  G.Taliaferro    1950–1955
3     Marlin Briscoe     M.Briscoe        1968*
4       James Harris      J.Harris    1969–1981

                                                Team
0  Akron Pros, Milwaukee Badgers, Hammond Pros, P...
1                                  Chicago Cardinals
2  New York Yanks, Dallas Texans, Baltimore Colts...
3                                     Denver Broncos
4  Buffalo Bills, Los Angeles Rams, San Diego Cha...